body:before{
	display: block;
	background: url('../img/header_border.png') repeat-x;
	height: 3px;
	content: '';
}

body{
	background: url('../img/bg.png');
}


span, p, h1, h2, h3, h4, h5, h6{
	font-family: 'PT Sans', sans-serif;
}

a{
	color: #000;
}

a:hover{
	text-decoration: none;
	color: #333;
}

ul{
	margin: 0;
	padding: 0;
}

.site-header{
	width: 1200px;
	height: 310px;
	margin: 0 auto;
}

.container{
	width: 900px;
	margin: 0 auto;
	height: 200px;
}


.logo{
	font-weight: bold;
	font-size: 18px;
	margin-left: 10px;
	margin-top: 15px;
	display: inline-block;
}

.login-btn{
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	border-bottom: 1px #666666 dotted;
	margin-top: 20px;
	margin-right: 15px;
}

.login-btn:hover{
	border-bottom: 1px #000 solid;
	color: #000;
}

.head{
	width: 320px;
	margin: 0 auto;
}

.head h2{
	font-size: 75px;
	font-family: 'PT Serif', serif;
	margin-bottom: 0px;
}

.head li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.head li:after{
	content: '•';
	position: relative;
	left: 7px;
}

.last:after{
	content: '' !important;
}


/**
* Блок новостей
*/

.news{
	height: 150px;
}

.news-img{
	margin-left: 43px;
	margin-right: 21px;
	float: left;
	width: 178px;
	height: 96px;
}

.news article{
	width: 640px;
	float: left;
	margin: 0;
}

.news-header{
	margin-top: 0;
	font-size: 16px;
}

.news-label{
	position: relative;
	display: inline;
	left: -35px;
	top: -110px;
	background: #555;
	padding: 5px;
	color: #fff;
	font-size: 12px;
	font-style: italic;
}

.news p{
	font-size: 14px;
}

.news a{
	font-weight: normal;	
}

/**
* Footer
*/

.site-footer{
	color: #666;
	font-size: 12px;
	margin: 0 43px;
	margin-top: 70px;
	height: 110px;
	z-index: 2;
        position: relative;
}

/**
* Форма авторизации
*/

.auth{
	display: none;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -183px;
	background: #fff;
	padding: 65px 58px;
	z-index: 1;

	-webkit-box-shadow:  1px 1px 20px 10px #888;        
    box-shadow:  1px 1px 20px 10px #888;
}

.auth input[type="text"], .auth input[type="password"]{
	display: block;
	width: 240px;
	margin-bottom: 20px;

	font-size: 15px;
	height: 25px;
	padding: 0 5px;
	border-top: solid 1px #a3a3a3;
	border-right: solid 1px #c6c6c6;
	border-bottom: solid 1px #e5e5e5;
	border-left: solid 1px #c6c6c6;
}

.auth a{
	font-size: 14px;
	color: #666666;
	text-decoration: none;
	border-bottom: 1px #666666 dotted;
}

.auth a:hover{
	border-bottom: 1px #000 solid;
	color: #000;
}

.submit-btn{
	background: url('../img/btn.png');
	border-top: solid 1px #d9d9d9;
	border-left: solid 1px #ababab;
	border-right: solid 1px #b4b4b4;
	border-bottom: solid 1px #989898;
	border-radius: 5px;
	padding: 0 10px;
	height: 25px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	margin-right: 15px;
	font-size: 14px;
}



/**
* Вспомогательные классы
*/

.left{
	float: left;
}

.right{
	float: right;
}

.blur{
	-webkit-filter: blur(4px) contrast(50%);
}

.unblur{
	-webkit-filter: none;
}

.red{
	background: #FF6666;
}

.green{
	background: #99CC66;
}

.blue{
	background: #6699CC;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}