.line-title {
	width: 100%;
	.em(height, 16px);
	background: #EE604F;
	margin-top: 30px;
	&__text {
		text-transform: uppercase;
		color: #EE604F;
		background: #fff;
		float: left;
		font-weight: bold;
		padding: 0 10px;
		line-height: 1;
		margin-left: -10px;
	}
}