.site-header {
	border-top: solid 50px #4F4F51;
	&__title {

	}
	&__subtitle {
		.em(font-size, 20px);
		font-weight: normal;
		font-style: italic;
		color: @grey;
		margin: 0;
		margin-bottom: 10px;
		font-family: 'Roboto', sans-serif;
	}
	&__blog {
		float: right;
		text-decoration: none;
		color: #000;
		.fa {
			font-size: 14px;
		}
	}
}