@media (max-width: 480px){
	.user-name-input{
		width: 100% !important;
	}

	.comments-error-message{

		&:before{

			margin-left: 0px !important;
		}
	}

	.add-comment-form{
		input, textarea{
			margin-bottom: 5px;
		}
	}

	.auth{
		top:50px;
	}

	.news-header{
		clear: both;
	}

	.head{
		font-size: 90%;
		width: 95%;
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.news{
		// border: solid 1px @hr-color;
		padding-top: 15px !important;
		height: inherit;

		.news-header{
			padding-top: 15px;
		}
		.news-label{
			left: 145px !important;
		}
		p{
			padding: 10px 21px 10px 21px;
			clear: both;
		}
	}

	.rubric-item{
		width: 95% !important;
		margin-bottom: 15px !important;
		border: solid 1px @hr-color;
		padding: 5px !important;

		p{
			margin-bottom: 5px !important;
		}
	}

	.user-menu-layout{
		top: 115px;
		left: 5%;
	}
}