@media (max-width: 960px) and (min-width: 640px){
	.logo{
		position: relative !important;
		left: inherit !important;
		margin-left: 0 !important;
	}

	.news-article-header{
		h2{
			margin-top: 50px !important;
			margin-bottom: 20px !important;
		}
	}

	.content{
		width: 90%;
	}

	.news-page-header, .content{
		width: 90%;
	}

	.news-page-menu{
		margin-left: 0 !important;
		width: 100% !important;
	}

	.news-aside{
		width: 260/1349*100% !important;
		margin-left: 5% !important;
		margin-top: 115px !important;
		left: 0 !important;
	}

	.rubrics{
		width: 100%;
		padding-top: 0;

		&:before{
			width: (800)/800*100%;
			margin-left: 0;
		}
	}

	.rubric-header{
		width: 40% !important;
		clear: both;
		position: relative !important;
		margin-left: 0 !important;
	}

	.site-footer{
		width: 90%;
		margin-top: 10px;
		height: 70px;
	}
}