/**
* Media 640px
**/
@media (max-width: 640px) {
	.container{
		width: 562/640*100%;
	}

	.site-header{
		height: 250px;
	}

	.head{
		// margin: 0 auto;
		margin: 0 auto 10px auto;
	}

	.news-img{
		width: 180/562*100% !important;
		margin-left: 0 !important;

		.news-label{
			left:80% !important;
			top:-95px !important;
		}
	}

	.news{
		article{
			width: 100%;
		}

		.news-header{
			padding-top: 15px;
			.clearfix();
		}

		p{
			margin: 0 0 30px 0;
			width: 100%;
		}
	}
}