/**
* Responsive for News page
**/


.news-page-header{
	width: 800/1349*100%;

	.logo{
		left:65/1349*100%;
		background: @vis3;
	}

/**
* News main menu section
**/
	.news-page-menu{
		width: 600/800*100%;
		margin-left: 200/800*100%;

		li{
			margin-right: 20/600*100%;
		}
	}

	.user-menu-layout{
		width: 117px;
		padding-left: 23px;
		margin-left: 810/1349*100%;

		.user-menu-btn{

			&:before{
				margin-left: -13px;
			}
		}
	}
}

/**
* News content section
**/
.content{
	width: 800/1349*100%;

	.news-article-container{
		width: 600/800*100%;
		margin-left: 200/800*100%;
		background: @vis2;

		.news-article-header{
			h2{
				background: @vis3;
			}
		}

		.news-aside{
			width: 180/1349*100%;
			margin-left: -200/1349*100%;
			background: @vis4;

			img{
				width: 100%;
			}
		}
	}
}


/**
* News rubrics section
**/
.rubrics{
	width: 600/800*100%;

	.rubric-header{
		width: 180/1349*100%;
		margin-left: -200/1349*100%;
	}

	&:before{
		width: (800+270)/800*100%;
		margin-left: (-200-70)/800*100%;
	}
}

/**
* Footer
*/

.site-footer{
	width: 800/1349*100%;
}