.container{
	width: 800/1200*100%;
}

.site-header{
	width: 90%;
}

.head{
	margin-left: (43+21+215)/800*100%;
}

.logo{
	margin-left: 20/1200*100%;
}

.login-btn{
	margin-right: 20/1200*100%;
}


/**
* Блок новостей
*/

.news{
	.news-header{
	margin-left: 242/800*100%;
	width: 550/800*100%;
	}

	.news-img{
		margin-left: 43/800*100%;
		margin-right: 21/800*100%;
		width: 180/800*100%;

		img{
			width: 100%;
		}

		.news-label{
			left: -35/800*100%;
		}
	}

	article{
		width: 100%;
	}

	p{
		font-size:@news-text-size;
		width: 552/800*100%;
		margin-left: 242/800*100%;
	}
}


/**
* Footer
*/

.site-footer{
	width: 800/800*100%;
}
